.submit-button {
  border: none;
  background-color: $color-secondary;
  color: $color-white;
  text-transform: uppercase;
  width: 75%;
  height: 3.5rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  margin-top: 70px;
  margin-left: 25px;
  border-radius: 8px;
}
