.submit-button {
  border: none;
  background-color: #d7263d;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 100px;
  text-align: center;
  font-size: 1rem;
  margin-left: 135px;
  display: inline-block;
  margin-top: 70px;
  border-radius: 8px;
}
